/*!
 * Stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Fill it with style
 * to style up the website so it is useable.
 */

/* Poor mans normalize */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Hide submenu, leave this to kmom02 */
.rm-desktop ul {
    display: none;
}

/* Hide responsive/mobile menu, leave this to kmom02 */
.rm-navbar-max {
    display: none;
}

/* Container */
.wrap-all {
  background-color: #ccc;
}

.outer-wrap {
  width: 100%;
  overflow: auto;
}

.inner-wrap {
  width: 80%;
  margin: 0 auto;
}

/* Header */

.region-header-col-1 {
  float: left;
  width: 20%;
  margin-right: 10px;
}

.region-header-col-2 {
  float: left;
  width: 50;
}

.site-logo {
  display: none;
}

.my-navbar {
  padding-top: 15px;
  list-style-type: none;
}

.my-navbar li {
  display: inline;
  padding: 2px 15px;
}

/* Main */

.inner-wrap-main {
  padding: 20px 0;
}

.outer-wrap-main {
  padding: 20px 10px;
}

.next {
  width: 80%;
  padding: 20px 10px;
}

.region-sidebar-left {
  float: left;
  width: 30%;
  padding: 30px 10px;
}

.toc {
  list-style-type: none;
}


/* Footer */

.outer-wrap-footer {
  background-color: #fcf;
}

.inner-wrap-footer {
  padding: 20px 0;
}

.region-footer>.block {
  padding-top: 20px;
  width: 100%;
  text-align: center;
}
